﻿@model IEnumerable<Phone>
@{
    Phone p = new Phone();
}
<div class="clearfix" data-panel-edit-data>
    <span data-panel-edit-item-action="Edit" style="float: left">
        <i class="fa fa-pencil-square-o"></i>
    </span>
    <span data-panel-edit-item-action="Remove" style="float: left">
        <i class="fa fa-trash-o"></i>
    </span>
    <span class="col-md-10">02-3457-7859</span>
</div>
<div class="clearfix" data-panel-edit-data>
    <span data-panel-edit-item-action="Edit" style="float: left">
        <i class="fa fa-pencil-square-o"></i>
    </span>
    <span data-panel-edit-item-action="Remove" style="float: left">
        <i class="fa fa-trash-o"></i>
    </span>
    <span class="col-md-10">02-3457-7859</span>
</div>
<div data-panel-edit-data style="width: 100%" class="clearfix">
    <span data-panel-edit-item-action="Edit" style="float: left">
        <i class="fa fa-pencil-square-o"></i>
    </span>
    <span data-panel-edit-item-action="Remove" style="float: left">
        <i class="fa fa-trash-o"></i>
    </span>
    <span class="col-md-10">02-3457-7859</span>
</div>


