﻿@model EditViewModel
@{
    string pvID = Guid.NewGuid().ToString();
    IEnumerable<Organization> organizationData = Model.User?.Organization.ToList();
    // Template
    Organization o = new Organization();
    Sns s = new Sns();
    Phone p = new Phone();
}
<tr>
    <td>
        <input asp-for="@Model.ActionType" type="hidden" />
        <input asp-for="@Model.SystemData" type="hidden" />
        <div data-panel-edit="Master">
            <div data-panel-edit-item="Header">
                <span data-panel-edit-item-action="Close" style="float: right">
                    <i class="fa fa-times-circle-o"></i>
                </span>
                <span data-panel-edit-item-action="Save" style="float: right">
                    <i class="fa fa-floppy-o"></i>
                </span>
            </div>
            <input asp-for="@Model.User.Id" type="hidden" />
            @if (!string.IsNullOrEmpty(Model.User.UserId))
            {
                <div class="form-group-sm col-md-12">
                    <label asp-for="@Model.User.UserId"></label>
                    <input asp-for="@Model.User.UserId" class="form-control" disabled="disabled"/>
                </div>
            }
            else
            {
                <div class="form-group-sm col-md-12">
                    <label asp-for="@Model.User.UserId"></label>
                    <input asp-for="@Model.User.UserId" class="form-control required" placeholder="輸入帳號" autofocus spellcheck="false" />
                </div>
            }
            <div class="form-group-sm col-md-4">
                <label asp-for="@Model.User.Last"></label>
                <input asp-for="@Model.User.Last" class="form-control required" placeholder="輸入姓" autofocus/>
            </div>
            <div class="form-group-sm col-md-8">
                <label asp-for="@Model.User.First"></label>
                <input asp-for="@Model.User.First" class="form-control required" placeholder="輸入名" autofocus/>
            </div>
        </div><!--基本資料-->
        <div data-panel-edit="Phone">
            <div data-panel-edit-item="Header">
                <span data-panel-edit-item-action="Collapse" style="float: left;">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span><!-- Collapse Action -->
                <span data-panel-edit-item-action="Insert" style="float: left">
                    <i class="fa fa-plus-circle"></i>
                </span><!-- Insert Action -->
                <span class="col-md-10" data-panel-edit-item-element="false">聯絡方式</span>
                <span class="col-md-10" style="display: none" data-panel-edit-item-element="true">@Html.DisplayNameFor(x => p.Number)</span>
            </div><!--Header Area-->
            <div class="col-md-12" data-panel-edit-item="Row" style="display: none">
                <div data-panel-edit-item="Template" style="display: none">
                    <span data-panel-edit-item-action="Edit" style="float: left">
                        <i class="fa fa-pencil-square-o"></i>
                    </span><!--Edit Icon-->
                    <span data-panel-edit-item-action="Remove" style="float: left">
                        <i class="fa fa-trash-o"></i>
                    </span><!--Remove Icon-->
                    <span>
                        @Html.HiddenFor(x => p.Type, new { id = string.Empty })
                    </span><!--Hidden Field-->
                    <span>
                        @Html.HiddenFor(x => p.Number, new { id = string.Empty })
                    </span><!--Hidden Field-->
                </div><!-- Template  -->
                @if (Model.User.Phone.Any())
                {
                    int rowNo = 0;
                    foreach (Phone item in Model.User.Phone)
                    {
                        <div data-action="-99" data-row-no="@rowNo">
                            <span data-panel-edit-item-action="Edit" style="float: left">
                                <i class="fa fa-pencil-square-o"></i>
                            </span><!--Edit Icon-->
                            <span data-panel-edit-item-action="Remove" style="float: left">
                                <i class="fa fa-trash-o"></i>
                            </span><!--Remove Icon-->
                            <span>
                                @Html.HiddenFor(x => item.Type, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.TypeText)</span>
                            </span><!--Hidden Field-->
                            <span>
                                @Html.HiddenFor(x => item.Number, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.Number)</span>
                            </span><!--Hidden Field-->
                        </div>
                        rowNo++;
                    }
                }
                else
                {
                    <div data-panel-edit-item="Empty">
                        目前沒有數據資料
                    </div><!-- Empty -->
                }
            </div><!--Row Area-->
            <div class="col-md-12" data-panel-edit-item="Edit" data-row-no="-99" style="display: none">
                <div class="form-group-sm col-md-3">
                    <label asp-for="@p.Type"></label>
                    <select asp-for="@p.Type" class="form-control required" asp-items="@Model.PhoneType">
                        <option value="">-請選擇-</option>
                    </select>
                </div><!--Field-->
                <div class="form-group-sm col-md-9">
                    <label asp-for="@p.Number"></label>
                    <input asp-for="@p.Number" class="form-control input-sm required" placeholder="請輸入電話號碼" />
                </div><!--Field-->
                <span class="input-group-addon" data-panel-edit-item-action="AddTo">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;輸入完畢
                </span><!--AddTo-->
            </div><!--Edit Area-->
        </div><!--電話號碼-->
        <div data-panel-edit="Organization">
            <div data-panel-edit-item="Header">
                <span data-panel-edit-item-action="Collapse" style="float: left;">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span><!-- Collapse Action -->
                <span data-panel-edit-item-action="Insert" style="float: left">
                    <i class="fa fa-plus-circle"></i>
                </span><!-- Insert Action -->
                <span class="col-md-10" data-panel-edit-item-element="false">組織內容</span>
                <span class="col-md-2" style="display: none" data-panel-edit-item-element="true">@Html.DisplayNameFor(x => o.AdCode)</span>
                <span class="col-md-2" style="display: none" data-panel-edit-item-element="true">@Html.DisplayNameFor(x => o.Type)</span>
                <span class="col-md-2" style="display: none" data-panel-edit-item-element="true">@Html.DisplayNameFor(x => o.Code)</span>
                <span class="col-md-4" style="display: none" data-panel-edit-item-element="true">@Html.DisplayNameFor(x => o.Comment)</span>
            </div><!-- Header -->
            <div class="col-md-12" data-panel-edit-item="Row" style="display: none">
                <div data-panel-edit-item="Template" style="display: none">
                    <span data-panel-edit-item-action="Edit" style="float: left">
                        <i class="fa fa-pencil-square-o"></i>
                    </span><!--Edit Icon-->
                    <span data-panel-edit-item-action="Remove" style="float: left">
                        <i class="fa fa-trash-o"></i>
                    </span><!--Remove Icon-->
                    <span class="col-md-2">
                        @Html.HiddenFor(x => o.Type, new { id = string.Empty })
                    </span>
                    <span class="col-md-2">
                        @Html.HiddenFor(x => o.AdCode, new { id = string.Empty })
                    </span>
                    <span class="col-md-2">
                        @Html.HiddenFor(x => o.Code, new { id = string.Empty })
                    </span>
                    <span class="col-md-4">
                        @Html.HiddenFor(x => o.Comment, new { id = string.Empty })
                    </span>
                </div><!-- Template -->
                @if (Model.User.Organization.Any())
                {
                    int rowNo = 0;
                    foreach (Organization item in Model.User.Organization)
                    {
                        <div data-action="-99" data-row-no="@rowNo">
                            <span data-panel-edit-item-action="Edit" style="float: left">
                                <i class="fa fa-pencil-square-o"></i>
                            </span><!--Edit Icon-->
                            <span data-panel-edit-item-action="Remove" style="float: left">
                                <i class="fa fa-trash-o"></i>
                            </span><!--Remove Icon-->
                            <span class="col-md-2">
                                @Html.HiddenFor(x => item.Type, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.TypeText)</span>
                            </span><!--Hidden Field-->
                            <span class="col-md-2">
                                @Html.HiddenFor(x => item.AdCode, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.CityName)</span>
                            </span><!--Hidden Field-->
                            <span class="col-md-2">
                                @Html.HiddenFor(x => item.Code, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.Code)</span>
                            </span><!--Hidden Field-->
                            <span class="col-md-4">
                                @Html.HiddenFor(x => item.Comment, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.Comment)</span>
                            </span><!--Hidden Field-->
                        </div>
                        rowNo++;
                    }
                }
                else
                {
                    <div data-panel-edit-item="Empty">目前沒有數據資料</div><!-- Empty -->
                }
            </div><!-- Row -->
            <div class="col-md-12" data-panel-edit-item="Edit" style="display: none">
                <div class="form-group-sm col-md-3">
                    <label asp-for="@o.Type"></label>
                    <select asp-for="@o.Type" class="form-control required" asp-items="@Model.OrganiztionType">
                        <option value="">-請選擇-</option>
                    </select>
                </div>
                <div class="form-group-sm col-md-4">
                    <label asp-for="@o.AdCode"></label>
                    <select asp-for="@o.AdCode" class="form-control required" asp-items="@Model.CityItems">
                        <option value="">-請選擇-</option>
                    </select>
                </div>
                <div class="form-group-sm col-md-5">
                    <label asp-for="@o.Code"></label>
                    <input asp-for="@o.Code" class="form-control required" />
                </div>
                <div class="form-group-sm">
                    <label asp-for="@o.Comment"></label>
                    <input asp-for="@o.Comment" class="form-control" />
                </div>
                <span class="input-group-addon" data-panel-edit-item-action="AddTo">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;輸入完畢
                </span><!--AddTo-->
            </div><!-- Edit -->
        </div><!--組織-->
        <div data-panel-edit="SNS">
            <div data-panel-edit-item="Header">
                <span data-panel-edit-item-action="Collapse" style="float: left;">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span data-panel-edit-item-action="Insert" style="float: left">
                    <i class="fa fa-plus-circle"></i>
                </span>
                <span class="col-md-10" data-panel-edit-item-element="false">社群資料</span>
                <span class="col-md-4" data-panel-edit-item-element="true" style="display: none">@Html.DisplayNameFor(x => s.Type)</span>
                <span class="col-md-6" data-panel-edit-item-element="true" style="display: none">@Html.DisplayNameFor(x => s.Account)</span>
            </div><!-- Header -->
            <div data-panel-edit-item="Row" style="display: none">
                <div data-panel-edit-item="Template" style="display: none">
                    <span data-panel-edit-item-action="Edit" style="float: left">
                        <i class="fa fa-pencil-square-o"></i>
                    </span><!--Edit Icon-->
                    <span data-panel-edit-item-action="Remove" style="float: left">
                        <i class="fa fa-trash-o"></i>
                    </span><!--Remove Icon-->
                    <span class="col-md-4">
                        @Html.HiddenFor(x => s.Type, new { id = string.Empty })
                    </span>
                    <span class="col-md-6">
                        @Html.HiddenFor(x => s.Account, new { id = string.Empty })
                    </span>
                </div>
                @if (Model.User.Sns.Any())
                {
                    int rowNo = 0;
                    foreach (Sns item in Model.User.Sns)
                    {
                        <div data-action="-99" data-row-no="@rowNo">
                            <span data-panel-edit-item-action="Edit" style="float: left">
                                <i class="fa fa-pencil-square-o"></i>
                            </span><!--Edit Icon-->
                            <span data-panel-edit-item-action="Remove" style="float: left">
                                <i class="fa fa-trash-o"></i>
                            </span><!--Remove Icon-->
                            <span class="col-md-4">
                                @Html.HiddenFor(x => item.Type, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.TypeText)</span>
                            </span><!--Hidden Field-->
                            <span class="col-md-6">
                                @Html.HiddenFor(x => item.Account, new { id = string.Empty })
                                <span>@Html.DisplayFor(x => item.Account)</span>
                            </span><!--Hidden Field-->
                        </div>
                        rowNo++;
                    }
                }
                else
                {
                    <div data-panel-edit-item="Empty">
                        目前沒有數據資料
                    </div>
                }
            </div><!-- Row -->
            <div data-panel-edit-item="Edit" style="display: none">
                <div class="form-group-sm col-md-3">
                    <label asp-for="@s.Type"></label>
                    <select asp-for="@s.Type" class="form-control required" asp-items="@Model.SNSType">
                        <option value="">-請選擇-</option>
                    </select>
                </div>
                <div class="form-group-sm col-md-9">
                    <label asp-for="@s.Account"></label>
                    <input asp-for="@s.Account" class="form-control required" />
                </div>
                <span class="input-group-addon" data-panel-edit-item-action="AddTo">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;輸入完畢
                </span><!--AddTo-->
            </div><!-- Edit -->
        </div><!--SNS-->
    </td>
</tr>
