﻿@model IEnumerable<Organization>
@{
    Organization o = new Organization();
}
<div class="clearfix" data-panel-edit-data>
    <span data-panel-edit-item-action="Edit" style="float: left">
        <i class="fa fa-pencil-square-o"></i>
    </span>
    <span data-panel-edit-item-action="Remove" style="float: left">
        <i class="fa fa-trash-o"></i>
    </span>
    <span class="col-md-3">F1</span>
    <span class="col-md-2">F2</span>
    <span class="col-md-2">F3</span>
    <span class="col-md-3">F4</span>
</div>