﻿@model IEnumerable<User>
@{
    foreach (User m in Model)
    {
        string fullName = $"{m.Last} {m.First}";
        string enable = "fa ";
        enable += m.Enabled ? "fa-check-circle-o" : "fa-ban";
        string enableColor = m.Enabled ? "green" : "red";
        <tr>
            <td data-row-action="Edit">
                <div class="fa fa-edit"></div>
                <input asp-for="@m.Id" type="hidden" id="@string.Empty" />
                <input asp-for="@m.UserId" type="hidden" id="@string.Empty"/>
            </td>
            <td data-row-action="Remove">
                <div class="fa fa-trash-o"></div>
            </td>
            <td><span class="@enable" style="color: @enableColor"></span></td>
            <td>@m.UserId</td>
            <td>@fullName</td>
            <td>@m.UpdatedDateTime</td>
        </tr>
    }
}