﻿@model AccountViewModel
@{
    ViewBag.Title = "帳號管理";
    const string pvID = "AccountManagement";
    Dictionary<string, RenderInfo> renderInfo = ViewHelper.GetRenderConfig("Account");
    foreach (KeyValuePair<string, RenderInfo> keyValuePair in renderInfo)
    {
        RenderInfo v = keyValuePair.Value;
        v.Url = Url.Action(v.Action, v.Controller, new { Area = v.Area });
    }
    Dictionary<string, string> validConf = new Dictionary<string, string> { { "SNS", "Account" }, { "Phone", "Number" } };
}
<partial name="_AccountStyle" />
<div class="container" id="@pvID">
    <div class="col-md-12" data-panel="List">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th data-action="Insert">
                        <div class="fa fa-plus-circle"></div>
                    </th>
                    <th data-action></th>
                    <th width="10px">#</th>
                    <th>帳號</th>
                    <th>使用者姓名</th>
                    <th>更新日期</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ajax-message>
                    <td colspan="7">
                        <div>
                            <img src="/images/content/Load-Account-List-1s-60px.gif" alt="Loading Data.." />
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;開始接收使用者資訊..... 請稍等</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" data-panel="Edit" style="display:none">
        <table class="table">
            <tbody>
                <tr data-ajax-message>
                    <td colspan="6">
                        <div>
                            <img src="/images/content/Load-Account-Data-0.6s-60px.gif" alt="Loading Data.." />
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;請點選，新增，編輯，關閉</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function getJSON(s) {
            let retuOBJ;
            try {
                retuOBJ = JSON.parse(s);
            } catch (e) {
                retuOBJ = {};
            }
            return retuOBJ;
        }
        /**
         * Prepare paras for Render Partial View
         *
         * @@param {Object<any>} opt Oprtion of RenderPV
         * @@param {Object<any>} o Object of Partial View
         * @@param {Array<Object<any>>} cbs Callback Function
         */
        function renderPV(opt, o, cbs) {
            const url = opt["url"];
            const data = { data: opt };
            const $renderPV = o;
            asyncRenderPV(url, data, $renderPV, cbs);
        }
        /**
         * 取得 Partial View
         * @@param {string} d
         * @@param {stinrg} s
         * @@return {Object<any>} HTML Object
         */
        function getRenderPV(id,d, s) {
            id = id === undefined ? "#@pvID" : `#${id}`;
            s = s === undefined ? id + ' div[data-panel] table tbody' : s;
            let $renderPV = $(s);
            if (d === undefined){
                return $renderPV;
            };
            $renderPV = $renderPV.filter(function() {
                const pageType = $(this).parents('div').data('panel');
                return pageType === d;
            });
            return $renderPV;
        }
        /**
         * Toggle Panel of Edit
         * @@param {boolean} b  true:open / false:close
         * @@param {string} l  class string
         * @@param {number} speed  Speed of Toggle
         * @@param {string} id  Container of Id
         * @@returns {}
         */
        function toggleEditPanel(b, l, speed, id) {
            id = id === undefined ? "@pvID" : id;
            l = l === undefined ? "col-md-8 col-md-4" : l;
            const $list = getRenderPV(id,"List").parents('div[data-panel]');
            const $edit = getRenderPV(id,"Edit").parents('div[data-panel]');
            speed = speed === undefined ? 450 : speed;
            const toggleClass = l.split(' ');
            if (b) {
                $list.fadeTo(speed,.4,function() {
                    $(this).removeAttr('class').prop('class', toggleClass[0]);
                    $edit.removeAttr('class').prop('class',toggleClass[1]).show(300);
                });
            } else {
                $edit.removeAttr('class')
                    .prop('class',toggleClass[1])
                    .hide(speed,function() {
                        $list.fadeTo('slow', 1, function () {
                            $(this).removeAttr('class').prop('class', 'col-md-12');
                        });
                    });
            };
        };
        /**
         * 取得編輯區資料並且存檔
         * @@param {any} o
         */
        function saveData(o, message) {
            message = message === undefined ? "資料已經存入資料表" : message;
            const $user = {}
            const $dataRoot = o;
            const $partData = $dataRoot.find("[data-panel-edit]");
            $partData.each(function () {
                const propName = $(this).data("panelEdit");
                if (propName === "Master") {
                    const $master = $(this);
                    const $data = getJsObjectModel($master);
                    if ($data === undefined) return false;
                    const $dataObject = Object.keys($data);
                    $dataObject.forEach(function (key) {
                        $user[key] = $data[key]["Value"];
                    });
                } else {
                    $user[propName] = [];
                    const $rowData = $(this).find("[data-panel-edit-item='Row']");
                    $rowData.each(function () {
                        $(this).find("[data-action]")
                            .filter(function() {
                                const filterItem = Number($(this).attr("data-action"));
                                return filterItem >= 0;
                            }).each(function () {
                                const item = {
                                    ActionType: Number($(this).attr("data-action"))
                                };
                                $(this).find("input,select").each(function () {
                                    const name = $(this).prop("name").split(".").pop();
                                    const value = $(this).val();
                                    item[name] = value;
                                });
                                $user[propName].push(item);
                            });
                    });
                }
                return true;
            });
            const actionType = $dataRoot.find("[name*='ActionType']").val();
            const systemData = $dataRoot.find("[name*='SystemData']").val();
            const $retuData = {
                User: $user,
                ActionType: actionType,
                SystemData: systemData
            };
            console.log("SaveData:",$retuData);
            const url = "@Url.Action("PostAccount", "Account", new { Area = "Backend" })";
            let postResult = false;
            $.post({
                url: url,
                data: { data: $retuData },
                success: function (r) {postResult = r;}
            }).done(function () {
                const messageBoxOption = {
                    Title: "帳號管理",
                    Size: "modal-sm",
                    Body: !postResult ? "資料並無存入資料表" : message,
                    Color: !postResult ? "red" : undefined,
                    Type: "Warning"
                };
                messagebox(messageBoxOption);
            });
        };
        /**
         *
         */
        $(function () {
            const validConf = getJSON('@Json.Serialize(validConf)');
            const renderInfo = getJSON('@Json.Serialize(renderInfo)');
            const $panelList = getRenderPV("@pvID","List");
            const $panelEdit = getRenderPV("@pvID", "Edit");
            const selectorConf = {
                Data: { Insert: "div[data-panel='List'] table thead tr th[data-action]", EditRemove: "td[data-row-action]" },
                Record: { Insert: "", Edit: "", Remove: "" }
            };
            /**
             * 取得 c# 內 Render 的設定檔案
             * @@param {Object<any>} data c# 變數
             * @@param {Object<any>} type key
             * @@return {Object<string>} 回傳設定數據
             */
            const getRenderInfo = function(data,type) {
                return data[type];
            };
            const setRowRemove = function (row, opt) {
                console.log(row, opt);
            }
            
            const setRowEdit = function (row,opt) {
                const $row = $(row);
                const capitalizeFirstLetter = function(s) {
                    return s.charAt(0).toLowerCase() + s.slice(1);
                };
                const getItem = function (o) {
                    const retuItem = {};
                    o.find("[name]").each(function () {
                        const name = this.getAttribute("name").split(".").pop();
                        const value = this.value;
                        retuItem[name] = value;
                    });
                    return retuItem;
                };
                toggleEditPanel(true);
                const renderObj = opt;
                //renderObj['actionType'] = 3;
                const itemObject = getItem($row);
                for (let i in itemObject) {
                    if (itemObject.hasOwnProperty(i)) {
                        const name = capitalizeFirstLetter(i);
                        renderObj[name] = itemObject[i];
                    }
                }
                const $renderPV = getRenderPV("@pvID", "Edit");
                renderPV(renderObj, $renderPV);
            }
            
            $panelList.each(function() {
                const pageType = $(this).parents('div').data('panel');
                let renderObj;
                if (pageType === 'List') {
                    renderObj = renderInfo[pageType];
                    renderObj['pageType'] = pageType;
                    renderPV(renderObj, $(this));
                }
            }).on(
                {
                click: function (e) {
                    const conf = e.data;
                    const rowAction = this.dataset.rowAction;
                    const option = conf[rowAction];
                    option["pageType"] = rowAction;
                    if (rowAction === 'Edit') {
                        option['actionType'] = 3;
                        setRowEdit(this, option);
                    } else {
                        option['actionType'] = 2;
                        setRowRemove(this,option);
                    }
                }}, selectorConf.Data.EditRemove,renderInfo);
            
            /**
             * 新增帳號資料
             */
            $('#@pvID').on(
                {
                    click: function () {
                        const action = $(this).data('action');
                        if (action === 'Insert') {
                            toggleEditPanel(true);
                            const renderObj = getRenderInfo(renderInfo,action);
                            renderObj['pageType'] = action;
                            renderObj['actionType'] = 1;
                            const $renderPV = getRenderPV("@pvID",'Edit');
                            renderPV(renderObj, $renderPV);
                        }
                    }
                }, selectorConf.Data.Insert);


            function setCollapse(t, r, status) {
                const $editArea = t.parents("div[data-panel-edit]");
                const currentIcon = t.find(".fa");
                const $collapseText = $editArea.find("[data-panel-edit-item-element]");
                const collapseClass = 'fa-chevron-right fa-chevron-down';
                const collapseArray = collapseClass.split(' ');
                const iconExist = $.inArray(currentIcon, collapseArray) >= 0;
                if (status !== undefined) {
                    const activeClass = status ? collapseArray[1] : collapseArray[0];
                    const targetIcon = iconExist ? t : t.siblings('[data-panel-edit-item-action="Collapse"]');
                    targetIcon.find('.fa').removeAttr('class').addClass('fa').addClass(activeClass);
                } else {
                    t.find('.fa').toggleClass(collapseClass);
                };
                const $toggleObj = t.find('.fa');
                const afterStatus = $toggleObj.prop('class').split(' ').pop();
                status = status === undefined ? $.inArray(afterStatus, collapseArray) === 1 : status;
                let displayValue = status ? '' : 'none';
                r.forEach(function(e) {
                    e.css('display', displayValue);
                });
                $collapseText.each(function() {
                    const active = Boolean($(this).data("panelEditItemElement"));
                    displayValue = active === status ? "" : "none";
                    $(this).css("display", displayValue);
                });
                return status;
            }
            function setEditActionCollapse(t, row, editArea) {
                const collapseResult = setCollapse($(t), [row]);
                if (!collapseResult) {
                    editArea.hide();
                }
            };
            function setEditActionSave(editArea) {
                saveData(editArea);
            }
            function setEditActionRemove(t) {
                const $currentRow = $(t).parent();
                let actionType = $currentRow.data("action");
                actionType = actionType === undefined ? -99 : actionType;
                if (actionType === 1) {
                    $currentRow.remove();
                } else {
                    $currentRow.attr("data-action",2);
                    $currentRow.hide();
                }
            }
            function setEditActionInsert(t, $row) {
                const $node = $(t);
                const $dataRoot = $node.parents('div[data-panel-edit]');
                const $edit = $dataRoot.find('div[data-panel-edit-item="Edit"]');
                setCollapse($node, [$row], true);
                $row.show();
                $edit.show().attr('data-row-no', -99);
                const $editElements = $edit.find("input:visible,select:visible");
                $editElements.each(function() {
                    this.value = "";
                });
                const focusObj = $editElements.first();
                focusObj.focus();
            }
            function setEditActionEdit(t, $edit) {
                const $currentRow = $(t).parent();
                const rowNo = $currentRow.data("rowNo");
                const $data = getJsObjectModel($currentRow);
                $edit.data("rowNo", rowNo);
                $edit.show().find('[name]').each(function () {
                    const name = $(this).prop('name').split(".").pop();
                    const $item = $data[name];
                    const value = $item["Value"];
                    $(this).val(value);
                });
                $edit.find("input:visible,select:visible").first().focus();
            }
            function setEditActionAddTo(t,$row,$edit,jsValidConf) {
                const getOption = function (o, conf) {
                    const actionType = o.parents("td").find("[name*='ActionType']").val();
                    const editType = o.parents("div[data-panel-edit]").data("panelEdit");
                    const validURL = "@Url.Action("ValidExist","Account")";
                    const validField = conf[editType];
                    const validOption = { Type: editType, ActionType: actionType, URL: validURL, Field: validField };
                    return validOption;
                }
                const $node = $(t);
                const rowNo = $edit.data('rowNo');
                const option = getOption($node, jsValidConf);
                const $data = getJsObjectModel($edit, undefined, undefined, undefined, option);
                if ($data !== undefined) {
                    const keyAttr = "data-row-no";
                    const keySelector = `[${keyAttr}]`;
                    // 處裡列表
                    const rowIdx = $row.find(keySelector).length;
                    $row.each(function () {
                        const $dataRows = $(this).find(keySelector).filter(function () {
                            return $(this).data("rowNo") === rowNo;
                        });
                        if ($dataRows.length > 0) {
                            let dataAction = Number($dataRows.attr("data-action"));
                            dataAction = dataAction < 0 ? 3 : dataAction;
                            // Change Row Vlaue
                            $dataRows.find("[name]").each(function () {
                                const name = $(this).prop("name").split(".").pop();
                                const $item = $data[name];
                                const value = $item["Value"];
                                const text = $item["Text"] !== "" ? $item["Text"] : value;
                                $(this).val(value);
                                $(this).siblings("span").text(text);
                            });
                            $dataRows.attr("data-action", dataAction);
                            $edit.data('rowNo', -99);
                        } else {
                            $(this).find('[data-panel-edit-item="Empty"]').remove();
                                const $template = $(this).find("[data-panel-edit-item='Template']");
                                const $clone = $template.clone();
                            $clone.find('[name]').each(function () {
                                const name = $(this).prop("name").split(".").pop();
                                const $item = $data[name];
                                const value = $item["Value"];
                                const text = $item["Text"] !== "" ? $item["Text"] : value;
                                $(this).val(value);
                                const spanObject = $("<span/>").text(text);
                                $(this).after(spanObject);

                            });
                            $clone.removeAttr("data-panel-edit-item").removeAttr("style").attr("data-action", 1).attr(keyAttr, rowIdx);
                            $(this).append($clone);
                        };
                    });
                    $edit.find('input:visible').each(function () {
                        $(this).val("");
                    });
                    $edit.find("select").prop("selectedIndex", 0);
                }
            }

            $panelEdit.on({
                click: function (e) {
                    const $dataRoot = $(this).parents('div[data-panel-edit]');
                    const $row = $dataRoot.find('div[data-panel-edit-item="Row"]');
                    const $edit = $dataRoot.find('div[data-panel-edit-item="Edit"]');
                    const actionType = this.dataset.panelEditItemAction;
                    const carryData = e.data;
                    switch (actionType) {
                        case "Collapse":
                            setEditActionCollapse(this, $row, $edit);
                            break;
                        case "Close":
                            toggleEditPanel(false);
                            break;
                        case "Save":
                            setEditActionSave(carryData);
                            break;
                        case "Remove":
                            setEditActionRemove(this);
                            break;
                        case "Insert":
                            setEditActionInsert(this, $row);
                            break;
                        case "Edit":
                            setEditActionEdit(this,$edit);
                            break;
                        case "AddTo":
                            setEditActionAddTo(this, $row, $edit, validConf);
                            break;
                        default:
                    }
                }
            }, '[data-panel-edit-item-action]',$panelEdit);
        });
    </script>
}
