﻿@{
    ViewBag.Title = "Index";
    const string pvID = "Code";
}
<div id="@pvID" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>代碼維護</span>
            <span class="fa fa-plus-circle" data-act="insert"></span>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th width="1%"></th>
                    <th width="1%"></th>
                    <th>代碼</th>
                    <th>名稱</th>
                    <th>描述說明</th>
                    <th>使用狀態</th>
                    <th>更新日期</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-row-act><span class="fa fa-stop"></span></td>
                        <td data-row-act><span class="fa fa-edit"></span></td>
                        <td>Org</td>
                        <td>組織</td>
                        <td>組織類別數據</td>
                        <td><i class="fa fa-check-circle-o" style="color: #2de32d"></i></td>
                        <td>2018/09/01 12:00:00</td>
                    </tr>
                    <tr>
                        <td data-row-act><span class="fa fa-play"></span></td>
                        <td data-row-act><span class="fa fa-edit"></span></td>
                        <td>Org</td>
                        <td>組織</td>
                        <td>組織類別數據</td>
                        <td><i class="fa fa-check-circle-o" style="color: red"></i></td>
                        <td>2018/09/01 12:00:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style type="text/css">
    div#Code.container {
        padding-top: 1px;
    }

        div#Code.container .panel-body {
            padding: 0px;
        }

            div#Code.container .panel-body table {
            }

                div#Code.container .panel-body table tbody {
                }

                    div#Code.container .panel-body table tbody tr {
                    }

                        div#Code.container .panel-body table tbody tr td {
                        }

                            div#Code.container .panel-body table tbody tr td[data-row-act] {
                                padding-left: 5px;
                                padding-right: 5px;
                                color: gray;
                                opacity: .4;
                                cursor: pointer;
                            }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $('#@pvID').on('click','[data-act]',function() {
            let actType = $(this).data('act');
            if (actType==='insert') {
                let url = '';
                let $fixTbody;
                $('#@pvID').find('table tbody').each(function() {
                    let entry = $(this).data('entry');
                    if (entry !== undefined) {
                        $(this).remove();
                    } else {
                        $fixTbody = $(this);
                    }
                });
                $fixTbody.before('<tbody data-entry><tr><td colspan="7"></td></tr></tbody>');
                let $renderPV = $fixTbody.prev('tbody[data-entry]').find('td');
                $.post({
                    url: url,
                    data: {},
                    success: function(result) {
                        $renderPV.html(result);
                    }
                }).done();
            }
        });
    </script>
}


