@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("List", "Case", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user">@UserManager.GetUserName(User)</i></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="Backend" asp-action="Create" asp-controller="Account">
                <i class="fa fa-address-book-o" style="margin-right: 5px;"></i>Register
            </a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">
                <i class="fa fa-user-circle-o" style="margin-right: 5px;"></i>Login
            </a>
        </li>
    </ul>
}