﻿@{
    const string messageTitle ="----";
    const string closeText = "關閉";
}
<div class="modal fade" id="OutServicesMessage" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">@messageTitle</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@closeText</button>
            </div>
        </div>
    </div>
</div>