﻿@page
@model LoginModel
@{
    ViewBag.Title = "登入頁面";
    const string pvID = "LoginPage";
}
<partial name="_Login_Style" />
<div id="@pvID" class="container">
    <div class="card card-container">
        <img class="profile-img-card" id="profile-img" src="~/images/content/avatar_2x.png" alt="" />
        <p id="profile-name" class="profile-name-card"></p>
        <form method="post" class="form-horizontal form-signin">
            <div class="form-group">
                <label asp-for="Input.Account"></label>
                <input asp-for="Input.Account" class="form-control"/>
                <span asp-validation-for="Input.Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox-inline">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label asp-for="Input.ToggleDisplay">
                        <input asp-for="Input.ToggleDisplay" />
                        @Html.DisplayNameFor(m => m.Input.ToggleDisplay)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">登入</button>
            </div>
            @*<div class="form-group">
            <p>
                <a asp-page="./ForgotPassword">忘記密碼</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊新使用者</a>
            </p>
        </div>*@
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
        /**
         * Toggle Password Display
         */
        @*$('[name*="ToggleDisplay"]').on('change', function () {
            let checked = this.checked;
            let $dataRoot = $(this).parents('div#@pvID');
            let $password = $dataRoot.find('[name="Input.Password"]');
            let type = checked ? 'text' : 'password';
            $password.prop('type',type);
        });*@
    </script>
}