﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Global Style*/

    body div.container {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
}

body div table {
    /*margin-top: 10px;*/
}

body div table thead tr th {
    background-color: lightgray;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

body div table tbody tr td {
}

body div table tbody tr td span {
    vertical-align: middle;
}

.navbar-brand {
    letter-spacing: 1px;
    vertical-align: middle;
}
/*GoTop*/
#GoTop {
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: skyblue;
    color: white;
    text-align: center;
    border-radius: 15px;
}

#GoTop i {
    font-size: 150%;
    font-weight: bold;
    vertical-align: middle;
}

/*LayoutNavStyle*/
.navbar-default {
    background-color: #3c62e7;
    border-color: #2b32c0;
}

    .navbar-default .navbar-brand {
        color: #eceef1;
        letter-spacing: 1px;
        font-size: 120%;
        padding-left: 20px;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: yellow;
        }

    .navbar-default .navbar-text {
        color: #eceef1;
    }

    .navbar-default .navbar-nav > li > a {
        color: #eceef1;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: yellow;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: yellow;
        background-color: #2b32c0;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: yellow;
        background-color: #2b32c0;
    }

    .navbar-default .navbar-toggle {
        border-color: #2b32c0;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #2b32c0;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #eceef1;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #eceef1;
    }

    .navbar-default .navbar-link {
        color: #eceef1;
    }

        .navbar-default .navbar-link:hover {
            color: #cabbff;
        }

@@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #eceef1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #cabbff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #cabbff;
        background-color: #2b32c0;
    }
}
/*https://stackoverflow.com/questions/42515072/how-to-force-a-mobile-web-page-to-load-in-landscape*/
@@media only screen and (orientation:portrait) {
    #container {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
