﻿@model CodeViewModel
@{
    Master d = new Master();
    int actionType = 1;
    string code = string.Empty;
    if (Model?.Master != null)
    {
        d = Model.Master;
        actionType = (int)Model.ActionType;
        code = Model.Master.Code;
    }
}
<tr data-panel="Master" data-actionType="@actionType">
    @Html.HiddenFor(x => d.Code, new { id = string.Empty })
    <td>
        <div class="col-md-12" data-panel-edit="Master">
            <div class="form-group-sm col-md-4">
                <label asp-for="@d.Code"></label>
                @if (actionType == 1)
                {
                    <input asp-for="@d.Code" class="form-control required"  autocomplete="off"/>
                }
                else
                {
                    <input asp-for="@d.Code" class="form-control required" disabled="disabled" />
                }
            </div>
            <div class="form-group-sm col-md-8">
                <label asp-for="@d.CodeName"></label>
                <input asp-for="@d.CodeName" class="form-control required" autocomplete="off"/>
            </div>
            <div class="form-group-sm col-md-12">
                <label asp-for="@d.Category"></label>
                <input asp-for="@d.Category" class="form-control" />
            </div>
            <div class="form-group-sm col-md-12">
                <label asp-for="@d.Description"></label>
                <input asp-for="@d.Description" class="form-control required" />
            </div>
            <div class="form-group-sm col-md-12">
                <div class="checkbox-inline">
                    <label asp-for="@d.Enabled">
                        @Html.TextBoxFor(x => d.Enabled, new { type = "checkbox" })
                        @Html.DisplayNameFor(m => d.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group-sm col-md-12">
                <div class=" btn-group-sm">
                    <button type="button" class="btn btn-default" data-row-action="Save">存檔</button>
                    <button type="button" class="btn btn-default" data-row-action="Close">關閉</button>
                </div>
            </div>
        </div>
    </td>
</tr>
<script type="text/javascript">
    /*
     * Render Detail List
     * s : selector
     */
    function renderDetail(s,option) {
        s = s === undefined ? 'tr[data-panel="Master"]' : s;
        let addTableRow = function (o) {
            let $tbody = o.parents('tbody');
            return $('<tr/>')
                .attr('data-panel', 'Detail')
                .appendTo($tbody);
        };
        let $master = $(s);
        let $renderPV = addTableRow($master);
        $.post({
            url: option.url,
            data: option.data,
            success: function(result) {
                $renderPV.html(result);
            }
        }).done();
    }
    $(function () {
        const actionType = Number('@actionType');
        const masterSelector = 'tr[data-panel="Master"] div[data-panel-edit="Master"]';
        const detailSelector = 'tr[data-panel="Detail"] div[data-panel="Detail-Detail"]';
        $(masterSelector).find('input').each(function () {
            let type = $(this).prop('type');
            let value = this.value.toLowerCase();
            if (type === 'checkbox') {
                let checkedValue = value === 'true' ? 'checked' : '';
                $(this).prop('checked', checkedValue);
            }
        }).filter(function () {
            return $(this).prop('disabled') === false;
        }).first().focus();

        if (actionType === 3) {
            let option = {
                url: '@Url.Action("GetListDetail", "Code", new { Area = "Backend" })',
                data: { Code : '@code' },
                renderPV: ''
            };
            renderDetail('tr[data-panel="Master"]',option);
        }
        //----
    });
</script>