﻿@model IEnumerable<Detail>
@{
    var t = new Detail();
}
<td>
    <div data-panel="Detail-Header" class="clearfix">
        <div class="col-md-12" data-template style="display: none">
            <span data-panel="Tools">
                <span class="fa fa-edit" data-action="Edit"></span>
                <span class="fa fa-trash-o" data-action="Remove"></span>
            </span>
            <span class="col-md-3">
                <input asp-for="@t.Text" class="form-control input-sm required" placeholder="顯示文字"/>
            </span>
            <span class="col-md-4">
                <input asp-for="@t.Value" class="form-control input-sm required" placeholder="資料數值"/>
            </span>
            <span class="col-md-2">
                @Html.TextBoxFor(x => t.Enabled, new { type = "checkbox", id = string.Empty })
            </span>
        </div>
        <div class="col-md-12">
            <span data-panel="Tools">
                <span class="fa fa-floppy-o" data-action="Save"></span>
                <span class="fa fa-plus-circle" data-action="Insert"></span>
            </span>
            <span class="col-md-3" style="padding: 0 2px 0 10px">說明</span>
            <span class="col-md-4" style="padding: 0 2px 0 10px">數值</span>
            <span class="col-md-2" style="padding: 0 2px 0 10px">啟用</span>
        </div>
    </div>
    <div data-panel="Detail-Detail" class="clearfix">
        @{
            bool ajaxNotice = Model == null || !Model.Any();
            IEnumerable<Detail> data = Model ?? new List<Detail>();
            foreach (Detail m in data)
            {
                string enableIcon = (m.Enabled ?? false) ? "fa-check-circle-o" : "fa-ban";
                string enableColor = (m.Enabled ?? false) ? "green" : "red";

                <div class="col-md-12" data-action>
                    @Html.HiddenFor(x => m.Code, new { id = string.Empty })
                    @Html.HiddenFor(x => m.CodeSn, new { id = string.Empty })
                    <span data-panel="Tools">
                        <span class="fa fa-edit" data-action="Edit"></span>
                        <span class="fa fa-trash-o" data-action="Remove"></span>
                    </span>
                    <span class="col-md-3">
                        <span>@m.Text</span>
                        <input asp-for="@m.Text" class="form-control input-sm required" style="display: none" />
                    </span>
                    <span class="col-md-4">
                        <span>@m.Value</span>
                        <input asp-for="@m.Value" class="form-control input-sm required" style="display: none" />
                    </span>
                    <span class="col-md-2">
                        <span class="fa @enableIcon" style="color:@enableColor"></span>
                        @Html.TextBoxFor(x => m.Enabled, new { type = "checkbox", id = string.Empty })
                    </span>
                </div>
            }
            if (ajaxNotice)
            {
                <div data-panel="Notice" class="col-md-12" style="height: 100px; line-height: 100px; background-color: #e8e8e8; text-align: center">
                    <span style="color: gray; letter-spacing: 1px;font-weight: bold">無此代碼的細項資料</span>
                </div>
            }
        }
    </div>
</td>
