﻿@model IEnumerable<Master>
@{
    foreach (Master m in Model)
    {
        string enable = "fa ";
        enable += (m.Enabled ?? false) ? "fa-check-circle-o" : "fa-ban";
        string enableColor = (m.Enabled ?? false) ? "green":"red";
        <tr>
            <td data-row-action="Edit">
                @Html.HiddenFor(x => m.Code, new { Id = string.Empty })
                <div class="fa fa-edit"></div>
            </td>
            <td>@m.Code</td>
            <td>@m.CodeName</td>
            <td>@m.Description</td>
            <td>@m.Category</td>
            <td><span class="@enable" style="color: @enableColor"></span></td>
        </tr>
    }
}