﻿@model CodeViewModel
@{
    ViewBag.Title = "代碼管理";
    const string pvID = "CodeManagement";
    Dictionary<string, RenderInfo> renderInfo = ViewHelper.GetRenderConfig("Code");
    foreach (KeyValuePair<string, RenderInfo> keyValuePair in renderInfo)
    {
        RenderInfo value = keyValuePair.Value;
        value.Url = Url.Action(value.Action, value.Controller, new { Area = "Backend" });
    }
}
<partial name="_CodeStyle" />
<div class="container" id="@pvID">
    <div class="col-md-12" data-panel="List">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th data-action="Insert">
                        <span class="fa fa-plus-circle"></span>
                    </th>
                    <th>代碼</th>
                    <th>名稱</th>
                    <th>描述說明</th>
                    <th>類別</th>
                    <th>有效</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ajax-message>
                    <td colspan="8">
                        <div>開始接收代碼..... 請稍等</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4" data-panel="Edit" style="display:none">
        <table class="table">
            <tbody>
                <tr data-ajax-message>
                    <td colspan="6">
                        <div>請點選列表，新增，編輯</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">

        function getJSON(s) {
            let retuOBJ;
            try {
                retuOBJ = JSON.parse(s);
            } catch (e) {
                retuOBJ = {};
            }
            return retuOBJ;
        }

        /*
         *  Render Partial View
         *  r : data
         *  o : render Partial View Object
         */
        function renderPV(r, o ,cbs) {
            let url = r['url'];
            let data = { data: r };
            let $renderPV = o;
            asyncRenderPV(url, data, $renderPV,cbs);
        }

        /*
         * Get Panel PV
         * s : data-Panel
         * d : data-attribute value
         */
        function getDataPanel(s, d) {
            s = s === undefined ? '#@pvID div[data-panel] table tbody' : s;
            const $renderPV = $(s);
            if (d === undefined) {
                return $renderPV;
            }
            const retuPV = $renderPV.filter(function() {
                const pageType = $(this).parents('div').data('panel');
                return pageType === d;
            });
            return retuPV;
        }

        /*
         * Toggle Panel
         * b : true / false
         * l : class string
         */
        function toggleEditPanel(b, l) {
            l = l === undefined ? 'col-md-8 col-md-4' : l;
            let $list = getDataPanel(undefined, 'List').parents('div[data-panel]');
            let $edit = getDataPanel(undefined, 'Edit').parents('div[data-panel]');
            let toggleClass = l.split(' ');
            if (b) {
                $list.each(function() {
                    $(this).removeAttr('class').prop('class', toggleClass[0]);
                    $edit.removeAttr('class').prop('class', toggleClass[1]).show(0);
                });
                return $edit;
            } else {
                $edit.removeAttr('class')
                    .prop('class', toggleClass[1])
                    .hide(100,function() {
                        $list.fadeTo('fast',1,function() {
                            $(this).removeAttr('class').prop('class', 'col-md-12');
                        });
                    });
                return $list;
            }
        }

        /*
         * Get HTML Name of Value
         * r : single Item
         */
        function getModelValue(r) {
            let retuValue = {};
            r.find('[name]').each(function() {
                let type = $(this).prop('type');
                let name = $(this).prop('name').split('.').pop();
                let value = $(this).val();
                if (type === 'checkbox') {
                    value = $(this).prop('checked');
                }
                let required = $(this).hasClass('required');
                if (required) {
                    $(this).next('span').remove();
                    if (value === '') {
                        let validMessage = $('<span/>')
                            .attr('valid-message', '')
                            .addClass('fa fa-exclamation-circle').html('<span>必填</span>');
                        $(this).after(validMessage);
                        retuValue = undefined;
                        return false;
                    }
                }
                retuValue[name] = value;
            });
            return retuValue;
        }

        $(function () {
            const messageBoxOption = { Title:"代碼維護",Size :"modal-sm"};
            const renderInfo = getJSON('@Json.Serialize(renderInfo)');
            //Todo:
            //console.log(renderInfo);
            //const $panelList = $(this).find("div[data-panel='List']");
            //const $panelEdit = $(this).find("div[data-panel='Edit']");
            //const $panelEditMaster = $panelEdit.find('tr[data-panel="Master"]');
            //const $panelEditDetail = $panelEdit.find('tr[data-panel="Detail"]');


            //const $panelListPage = "";
            //const $panelListRow = "";
            //console.log($panelList, $panelEdit, $panelEditMaster, $panelEditDetail);
            /*
             * 列表區動作 
             */
            getDataPanel(undefined, 'List').each(function () {
                let pageType = $(this).parents('div').data('panel');
                let renderObj;
                if (pageType === 'List') {
                    renderObj = renderInfo[pageType];
                    renderObj['pageType'] = pageType;
                    renderPV(renderObj, $(this));
                }
            }).on('click', '[data-row-action]', function () {
                let rowAction = $(this).data('rowAction');
                if (rowAction === 'Edit') {
                    toggleEditPanel(true);
                    let renderObj = renderInfo[rowAction];
                    renderObj['pageType'] = rowAction;
                    renderObj['actionType'] = 3;
                    renderObj['routeString'] = $(this).find('[name*="Code"]').val();
                    let $renderPV = getDataPanel(undefined, 'Edit');
                    renderPV(renderObj, $renderPV);
                }})
                .siblings('thead').on('click', 'th[data-action]', function () {
                    let action = $(this).data('action');
                    let renderObj;
                    if (action === 'Insert') {
                        let $toggle = toggleEditPanel(true);
                        renderObj = renderInfo[action];
                        renderObj['pageType'] = action;
                        renderObj['actionType'] = 1;
                        renderPV(renderObj, $toggle.find('tbody'));
                    }
                });
            /*
             * 編輯區動作 
             */
            getDataPanel(undefined, 'Edit').each(function() {

            }).on('click', 'button[data-row-action]', function () {
                let removeChildren = function (s) {
                    $(s).children().remove();
                };
                let $edit_Detail = {
                    Header: 'div[data-panel="Edit"] table tbody tr[data-panel="Master"]',
                    Detail: 'div[data-panel="Edit"] table tbody tr[data-panel="Detail"]'
                };
                    let rowAction = $(this).data('rowAction');
                    if (rowAction === 'Close') {
                        let $toggle = toggleEditPanel(false);
                        removeChildren($edit_Detail.Header);
                        removeChildren($edit_Detail.Detail);
                    } else if (rowAction === 'Save') {
                        let actionType = $(this).parents('tr').data('actiontype');
                        let $list = getDataPanel(undefined, 'List');
                        let $dataRoot = $(this).parents('tbody').find('tr[data-panel="Master"]');
                        let $saveObj = getModelValue($dataRoot);
                        if ($saveObj !== undefined) {
                            let data = {
                                ActionType: actionType,
                                MasterList: [$saveObj]
                            };
                            let saveUrl = '@Url.Action("SaveCodeMaster", "Code", new {Area = "Backend"})';
                            messageBoxOption.Body = "資料已經存入資料表";
                            let callbacks = [{ func: messagebox, args: [messageBoxOption]}];
                            asyncRenderPV(saveUrl, data, $list, callbacks);
                        } else {
                            $dataRoot.find('span[valid-message]').siblings('input').focus();
                        }
                    }
                });

            const edit_Detail_Event = {
                Header: 'div[data-panel="Edit"] table tbody tr[data-panel="Detail"] td div[data-panel="Detail-Header"] div span[data-panel="Tools"] span',
                Detail: 'div[data-panel="Edit"] table tbody tr[data-panel="Detail"] td div[data-panel="Detail-Detail"] div span[data-panel="Tools"] span'
            };


            function getSaveData(d) {
                if (d === undefined) return false;
                let retuData = [];
                //Todo:
                for (let i = 1; i <= 3; i++) {
                    let dataList = d[i];
                    if (dataList.length>0) {
                        let item = { ActionType: i, DetailList: dataList };
                        retuData.push(item);
                    }
                };
                return retuData;
            };
            /*
             * 編輯區 - 細項列表
             *
             */
            $(this).on('click', edit_Detail_Event.Header, function () {
                let action = $(this).data('action');
                let $header = $(this).parents('div[data-panel="Detail-Header"]');
                let $detail = $header.siblings('div[data-panel="Detail-Detail"]');
                if (action === 'Insert') {
                    $detail.find('div[data-panel="Notice"]').remove();
                    let $template = $header.find('div[data-template]');
                    let $newRow = $template.clone();
                    $newRow.removeAttr('style').removeAttr('data-template').attr('data-action', 1);
                    $newRow.find('[name*="Enabled"]').each(function () {
                        $(this).css('display','block');
                        $(this).prop('checked',true);
                    });
                    $detail.append($newRow);
                    $newRow.find('input:visible').first().focus();
                } else if (action === 'Save') {
                    let $keyValue = $('div[data-panel="Edit"] table tbody tr[data-panel="Master"]').find('[name*="Code"]');

                    let $saveObj = { 1: new Array(), 2: new Array(), 3: new Array() };


                    $detail.find('div[data-action]').filter(function() {
                        let data_attribute_value = $(this).data('action');
                        return data_attribute_value !== undefined && data_attribute_value !== '';
                    }).each(function() {
                        let detailRowAction = $(this).data('action');
                        let $item = getModelValue($(this));
                        if ($item === undefined) {
                            $saveObj = undefined;
                            return false;
                        } else {
                            $item['Code'] = $keyValue.val();
                            $saveObj[detailRowAction].push($item);
                        }
                    });
                    $saveObj = getSaveData($saveObj);
                    if ($saveObj.length>0) {
                        let $renderPV = $header.parents("tr[data-panel='Detail']");
                        let saveUrl = '@Url.Action("SaveCodeDetail", "Code", new {Area = "Backend"})';
                        messageBoxOption.Body = "代碼細項資料已經存入資料表";
                        let callbacks = [
                            { func: messagebox, args: [messageBoxOption]}
                        ];
                        asyncRenderPV(saveUrl, { data: $saveObj }, $renderPV, callbacks);
                    }
                }
            });
            /*
             * 細項列表
             */
            $(this).on('click', edit_Detail_Event.Detail, function () {
                let action = $(this).data('action');
                let $currentRow = $(this).parents('div[data-action]');
                let rowAction = $currentRow.data('action');
                if (action === 'Remove') {
                    if (rowAction === 1) {
                        $currentRow.remove();
                    } else {
                        $currentRow.data('action', 2);
                        $currentRow.hide();
                    }
                } else if (action === 'Edit') {
                    $currentRow.data('action', 3);
                    $currentRow.find('input').filter(function () {
                        return $(this).prop('type') !== 'hidden';
                    }).each(function () {
                        let $input = $(this);
                        let $span = $input.siblings('span');
                        $span.remove();
                        $input.css('display', 'block');
                        if ($input.prop('type')==='checkbox') {
                            $(this).prop('checked', this.value.toLowerCase() === 'true');
                        }
                    }).first().focus();
                }
            });
        });
    </script>
}
