﻿@{
    //ViewData["Title"] = "案件主頁";
    ViewBag.Title = "案件主頁";
    const string pvID = "CaseList";
}
<div id="@pvID">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="3%">#</th>
                <th>案件編號</th>
                <th>時間</th>
            </tr>
        </thead>
        <tbody>
            @{
                    for (int i = 1; i <= 20; i++)
                    {
                        <tr>
                            <td>
                                <span>@i</span>
                            </td>
                            <td>@Guid.NewGuid().ToString()</td>
                            <td>@DateTime.Now.ToShortDateString()</td>
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type="text/javascript">
        
    </script>
}

